---
---

@import url(https://fonts.googleapis.com/css?family=Roboto+Mono);
html, body {
    overflow: hidden;
}
.container {
    width: 100%;
    height: 100%;
    margin-bottom: 8%;
}
#myCanvas {
    position: absolute;
    top: 0px;
    left: 0px;
    background: transparent;
    z-index: -1;
}

h1 {
    margin-top: 20%;
    text-align: center;
    font-family: 'Roboto Mono';
    font-size: 70px;
    font-weight: bold;
}

#sub {
    margin: 0 auto;
    text-align: center;
    font-family: 'Roboto', mono;
    font-size: 20px;
    opacity: 0.3;
}

span {
    border-right: .05em solid;
    animation: caret 1s steps(1) infinite;
    margin: 0 auto;
    text-align: center;
    opacity: 0.3;
}

@keyframes caret {
    50% {
      border-color: transparent;
    }
}

.flex-contain {
    position: relative;
    top: 30%;
    display: flex;
    flex-direction: vertical;
    justify-content: center;
    margin: 0 auto;
}

.box {
    text-align: center;
    font-family: 'Roboto Mono';
    font-size: 40px;
    margin: 5%;
    background-clip: text;
    text-decoration: underline;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(to right, #d7a150, #d7a150 50%, #283271 50%);
	background-size: 200% 100%;
    background-position: 100%;
    transition: all 0.5s cubic-bezier(0.000, 0.000, 0.230, 1); /* vendorless fallback */
    -o-transition: all 0.5s cubic-bezier(0.000, 0.000, 0.230, 1); /* opera */
    -ms-transition: all 0.5s cubic-bezier(0.000, 0.000, 0.230, 1); /* IE 10 */
    -moz-transition: all 0.5s cubic-bezier(0.000, 0.000, 0.230, 1); /* Firefox */
    -webkit-transition: all 0.5s cubic-bezier(0.000, 0.000, 0.230, 1); /*safari and chrome */
    
}

.box:hover {
    background-position: 0%;
    cursor: pointer;
}
  