---
---

body {
    background-image: url({{ site.url }}/assets/images/Melamine-wood-002.png)
}

h1 {
    text-align: center;
    top: 20%;
    width: 40%;
    font: Courier;
    position: absolute;
    font-size: 70px;
    color: rgb(204, 194, 194);
}
h2 {
    text-align: center;
    top: 30%;
    width: 40%;
    font: Courier;
    position: absolute;
    font-size: 15px;
    color: rgb(211, 197, 197);
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 8px solid #FEFEFE;
    color: white;
    background-color: black;
    border-radius: 5px;
    margin: 5px;
}

.container {
    position: absolute;
    float: right;
    display: flex;
    flex-direction: row;
    top: 50%;
    width: 45%;
    left: 30%;
    height: 22.5%;
}

.port {
    flex-grow: 1;
    height: 100%;
    transition: 1s;
}

.port:hover {
    transition: 1s;
    flex-grow: 2;
    height: 125%;

}

.person {
    flex-grow: 1;
    height: 100%;
    transition: 1s;
}

.person:hover {
    transition: 1s;
    flex-grow: 2;
    height: 125%;
}

.prayer {
    flex-grow: 1;
    height: 100%;
    transition: 1s;
}

.prayer:hover {
    transition: 1s;
    flex-grow: 2;
    height: 125%;

}