---
---

@import url(https://fonts.googleapis.com/css?family=Roboto+Mono);

h1 {
    text-align: center;
    top: 20%;
    width: 40%;
    font-family: 'Roboto Mono';
    font-size: 90px;
    position: absolute;
    color: black;

}

.header {
    display: flex;
    flex-direction: vertical;
}
.links {
    display: block;
    margin: 20px;
}

img {
    cursor: pointer;
}
