---
---

@import url(https://fonts.googleapis.com/css?family=Roboto);

h2 {
    text-align: center;
    top: 20%;
    width: 40%;
    font: Courier;
    position: absolute;
    font-size: 80px;
    color: rgb(70, 64, 64);
    margin-bottom: 0;
    margin: 0;
    padding: 0%;
}
h2#div {
    margin: 0px;
    padding: 0px;
    line-height: 0;
    height: 100%;
    display: inline;
    box-sizing: content-box;
}

.links {
    display: block;
}

img {
    cursor: pointer;
}
