.boxContainers {
    display: flex;
    flex-direction: horizontal;
    justify-content: center;
    background-color: black;
}

.box {
    margin: 10px;
    border: 8px solid #FEFEFE;
    width: 300px;
    color: white;
}

.modalInfo {
    opacity: 0;
    transition: 1s;
    height: 0;
    width: 0;
}

.growing {
    
}